.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens passem para a linha de baixo */
    justify-content: center;
    gap: 20px;
}

.align-Cards {
    flex: 1 1 300px; /* Tenta manter 300px, mas cresce se houver espaço */
    max-width: 100%;
    padding: 5%;
     background-color: #00000008;
     box-shadow: #252525;
}

/* Efeito ao passar o mouse */
.align-Cards:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px #7a8e810a; /* Sombra na cor da sua marca */
  border-color: #282828;
}

/* Estilização dos títulos nos cards */
.card h2 {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 480px) {
    .card {
        margin: 10px;
        padding: 15px;
    }
}