.sectioncard {
    padding: 10% 0%;
    justify-self: center;
    /* centraliza os cards */
}

.align-Cards {
    display: inline-flex;
    /* coloca os cards lado a lado */
    width: 300px;
    height: 400px;
    background-color: #f5f5f5;
    border-radius: 5%;
}

.align-Cards {

    border: 2px solid #00000033;
    /* borda preta */
    border-radius: 10px;

    box-shadow: 0 0 15px #7793825e;
    /* sombra projetada */
    text-align: left;
}

.card {
    padding: 15% 37px;
}

.h1card {
    font-weight: 900;
}

.h2card {

    width: 100%;
    text-align: start;

}

.pcard {
    text-align: start;
    width: 90%;
}



@media (max-width:3000px){
    .id {
        width: 1000px;
    }

}

@media (max-width:1000px) {
    .sectioncard {
        padding: 8% 3%;
        justify-self: center;

        /* centraliza os cards */

    }

    .id {
        width: 1000px;
    }

    .align-Cards {
        /* coloca os cards lado a lado */
        width: 270px;
        height: 410px;
        justify-self: center;
        background-color: #f5f5f5;
        border-radius: 5%;
    }
}

@media (max-width:600px) {

    section {
        padding: 8%;
    }

    .sectioncard {
        padding: 10%;
        justify-self: center;
        /* centraliza os cards */
    }

    .align-Cards {
        display: grid;
        /* coloca os cards lado a lado */
        width: 400px;
        height: 320px;
        justify-self: center;
        align-content: center;
        background-color: #f5f5f5;
        border-radius: 5%;
    }

    .id {
        width: 100%;
    }

}