section {

  padding: 5% 25%;
  justify-content: center;
}

.img1 {
  width: 17%;
  padding: 60px;
  position: absolute;
  left: 55%;
  top: 100px;

  
}

a{
  text-decoration: none;
  color: inherit; /* herda a cor do pai, Assim não deixa cor de link*/
}

.btn {
  text-align: center;
   border: 2px solid #00000033;
    /* borda preta */
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 12px 30px;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;

  border: 2px solid #ffffff33;
    /* borda preta */
    border-radius: 10px;

    box-shadow: 0 0 15px #7793825e;
    /* sombra projetada */
}

/* quando passa o mouse */
.btn:hover {
  background-color: #ffffff;
  /* muda o fundo */
  color: #000;
  /* texto fica preto */
  
}


.btn:hover::after {
  width: 100%;
}


@media (max-width:600px) {

  section {

    padding: 2% 8%;
    justify-content: center;
  }

  .img1 {
    width: 20%;
  }
}

@media (max-width:1000px) {
  section {
    padding: 5% 15%;
    justify-self: auto;
    margin: 0;
  }

  .titulo2 {
    width: 700px;
  }

  .img1 {
    width: 20%;
    justify-items: end;
    left: 60%;
  top: 100px;
  }
}