
img {
    max-width: 100%;
    height: auto;
}
body {
    margin: 0;
    font-family: inter, sans-serif;
    background-color: #fdfdfd;
    /* fundo preto */
    color: #000000;
}

/* Barra de navegação */


h1 {
    font-size: 3rem;
    width: 60%;
    text-align: start;
    
    
}
 p {
    font-size: 15px; 
     text-align: start;
     width: 60%;
 }


/* Rodapé Otimizado */
footer {
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    padding: 20px 0;
    background-color: #0000000a;
    margin-top: auto; /* Truque mágico: empurra o footer para o fim do 'flex' body */
}

iframe {
    justify-self: center;
}

@media (max-width:600px) {
    h1 {
    font-size: 50px;
    width: 100%;
    text-align: start;
    
    
}
 p {
    font-size: 15px; 
     text-align: start;
     width: 100%;
 }

 footer {
        font-size: 10px;
    }

}